.ab {
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 443px;
}
p {
    color : white;
    font: 1em sans-serif;
    font-family: "Comic Sans MS"
}
